.card-nota{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 4px;
    flex-wrap: wrap;
}
.card-nota_titulo {
    color: purple;
    font-size: 1.2em;
    margin-right: 12px;
}
.card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
}